.ui.olive.stacked.segment{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: rgb(34,36,38,.15);
	  border: 2px solid rgba(55, 57, 59, 0.15);
}

.ui.olive.segment:not(.inverted){
    border-top: 4px solid #ff0266!important ;
    padding: 30px;

}

.ui.section.divider{
    margin-top: 0px;
    margin-bottom: 1 rem;
}


.createPollContainer{
  width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%;
	margin-top: 50px;
}

.ui.inverted.form input[type=text]{
    background-color: #393a3f;
    color: white;
}
.ui.inverted.form input[type=text]:focus {
    border: 1px solid #B15DFF;
  }

  .ui.inverted.form input[type=password]{
    background-color: #383B44;
    color: white;
    margin-bottom: 10px;
}
.ui.inverted.form input[type=password]:focus {
    border: 1px solid #B15DFF;
  }

  .ui.button.createPoll{
    background-color:#2f2fd5;
    color: white;
  }


  .ui.button.x{
    background-color: #383B44;
    color: white;
    margin: initial;  
  }


  .ui.icon.input.create{
    border :1px solid rgba(34,36,38,.15);
    border-color:rgba(255,255,255,.1) ;
    margin: 10px 0;
    transition: 0.5s;
    outline: none;
    border-radius: 1px;
  }


  .ui.button.add{
    background-color: #03dac5;
  }