
.ui.inverted.menu{
    font-size: 15px;
}
.ui.item.dropdown.user{
    background: rgba(255,255,255,.15);
}


.ui.inverted.secondary.menu{
    margin: 0px;
    padding: 0px;
}

.u,.container{
    height: 50px;
}

.ui.inverted.segment, .ui.primary.inverted.segment{
    padding: 10px;
}